body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:293px;
  height:172px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:172px;
}
#u1 {
  position:absolute;
  left:2px;
  top:78px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:282px;
  width:350px;
  height:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:370px;
  top:96px;
  width:300px;
  height:204px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:204px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:340px;
  width:670px;
  height:460px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:460px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:680px;
  top:96px;
  width:300px;
  height:176px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
}
#u9 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:684px;
  top:100px;
  width:286px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:684px;
  top:125px;
  width:296px;
  height:144px;
  text-decoration:underline;
  color:#0000FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:144px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:680px;
  top:290px;
  width:300px;
  height:130px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u15 {
  position:absolute;
  left:2px;
  top:57px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:684px;
  top:300px;
  width:296px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:750px;
  top:338px;
  width:220px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:684px;
  top:338px;
  width:56px;
  height:21px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:780px;
  top:370px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:680px;
  top:440px;
  width:300px;
  height:190px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
}
#u23 {
  position:absolute;
  left:2px;
  top:87px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:684px;
  top:450px;
  width:296px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:682px;
  top:478px;
  width:300px;
  height:144px;
  text-decoration:underline;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
